h1 {
  color: red;
  font-size: 1em;
}

h2 {
  color: green;
}

a {
  color: grey;
  font-weight: bold;
}

#autor {
  color: blue;
}

.herramienta {
  color: brown;
}

input {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}